@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&family=Stylish&family=Lato&family=Dosis&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
    --gray: #ccc9c6;
    --gray-light: #dfdcd9;
    --gray-light-2: #f2f2f2;
    --coffee: #4a3a1b;
    --coffee-transparent: #4a3a1b5e;

    
    --white: #fefefe;
    --black: #36383F;
    --gray-dark: rgb(135, 137, 140);
    --blue-dark:#2896a8;
    --blue-dark-2:#2990a2;
    --red-dark:rgb(255, 255, 255);
    --red-dark-transparent:rgba(62, 74, 50, 0.9);
    --aquamarine-light:#f0ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: var(--white);
    font-family: Roboto,sans-serif;
    font-weight: 100;
    line-height: 2em;
    height: 100%;
    color: var(--gray-dark);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: block;
}
h1,h2,h3,h4,h5{
    color: var(--black);
}

/* Header y nav*/
.header{
    height: 100%;

    background-position: top;
    background-size: cover;
    
    background-image:
        linear-gradient(
            var(--blue-dark),
            var(--red-dark-transparent)
        ),
        url("../assets/images/moutains-1.jpg");
    min-height: 100%;
}
.logo-container{
    background-color: var(--gray-dark);
    color: var(--white);
    height: 10%; /** El otro 90% lo tiene el nav si esta checked*/
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    padding: 0 0 0 20px;
    position: fixed;
}
.logo-container img{
    width: 10%;
    margin: 0 10px 0 10px;
}
.logo{
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}
.icon-menu-container{
    height: 10%; /** El otro 90% lo tiene el nav si esta checked*/
    display: flex;
    align-items: center;
    justify-content: end;
    top: 0;
    position: fixed;
    right: 10px;
}
.check-side-menu{
    display: none;
}
.bar-color-on{
    background-color: var(--blue-dark);
    transition: all 0.1s ease-in-out;
}
.bar-color-off{
    background-color: transparent;
    transition: all 0.1s ease-in-out;
}
.nav{
    background-image:
        linear-gradient(
            var(--blue-dark-2),
            var(--red-dark-transparent)
        );
    height: 0%;
    width: 100%;
    max-height: 0;
    flex: 1 1 auto; /* Como item, ocupe toda la línea al no haber más*/
    text-align: center;
    display: flex;
    transition: all 0.5s ease-in-out;
    overflow: hidden; /* Efecto persiana */

    position: fixed;
    top: 10%;
    
    text-transform: uppercase;
    z-index: 1;
}
.check-side-menu:checked ~ nav{
    width: 100%;
    height: 100%; /* El otro 10% lo tiene logo*/
    max-height: 100%;
}
nav > ul{
    flex: 1 1 auto;
}
nav > ul > li{
    margin: 40px 0;
}
nav > ul > li > a{
    color: var(--white);
    text-decoration: none;
}
.btn-border{
    border: 2px solid var(--white);
    padding: 15px 50px;
    border-radius: 30px;
}

/*Efecto hamb a X*/
.hamb{
    margin: 0 20px;  
    padding: 10px 0; /* Aumenta área clickeable */
    cursor: pointer;
}
.hamb-line{
    display: block;
    height: 3px;
    width: 20px;
    position: relative;
}
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
}
.hamb-line::before{
    top: -4px;
}
.hamb-line::after{
    top: 4px;
}
.check-side-menu:checked ~ .icon-menu-container .hamb .hamb-line::before{
    transform: rotate(45deg);
    top: 0px;
}
.check-side-menu:checked ~ .icon-menu-container .hamb .hamb-line::after{
    transform: rotate(-45deg);
    top: 0px;
}

.header-content{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 30px;
    text-align: center;
    color: var(--white);
}
.header-cta{
    display: flex;
    flex-flow: column;
}
.header-content h1{
    color: var(--white);
    margin: 10px;
}
.cta-btn-border-1{
    border: 2px solid var(--white);
    text-transform: uppercase;
    color: var(--white);
    padding: 15px 50px;
    margin: 50px 30px 10px;
    border-radius: 30px;
}
.cta-btn-border-2{
    background-color: var(--black);
    text-transform: uppercase;
    color: var(--white);
    padding: 15px 50px;
    margin: 10px 30px 10px;
    border-radius: 30px;
}

/* section services*/
.s-services{
    margin: 70px 20px;
    text-align: center;
}
.services-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 20px 10px;
}
.services-card{
    border-radius: 5px;
    margin: 20px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.services-card-icon{
    background-color: var(--aquamarine-light);
    border-radius: 30px;
    margin: 10px 0 0 0 ;
    font-size: 25px;
}
.services-card-icon i{
    margin: 15px 15px;
}
.partes-txt-desc{
    margin: 10px;
    line-height: 1.4;
}

/* Equipo */ 
.s-equipo{
    height: 100%;
    background-image:
        linear-gradient( 
            to right, 
            #222, 
            rgba(253, 253, 253, 0.12) ), 
        url("../assets/images/office-1.jpg");
        
    display: flex;
    justify-content: center;
}
.btn-go-left,
.btn-go-right {
    flex : 0 1 10%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}
.equipo-container{
    flex : 0 1 70%;
}
.equipo-container{
    margin: 30px;
}
.equipo-avatar {
    
}
.equipo-avatar img{
    width: 30%;
}
.equipo-container, 
.equipo-txt-desc h4{
    color: var(--white);
}
.equipo-txt-desc p{
    margin: 0 30% 0 0;
    line-height: 1.3;
}
.equipo-social-ico > .fa{
    margin: 25px 15px 0 0;
    cursor: pointer;
    font-size: 1.5em;
}


/* Portafolio */
.s-portfolio{
    display: flex;
    flex-flow: column;
}
.s-portfolio h2{
    text-align: center;
    margin: 40px 0 0;
}
.portfolio-filter{
    border-bottom: 1px solid var(--gray-light);
}
.portfolio-filter-menu{
    display: flex;
    justify-content: center;
}
.portfolio-filter-menu li{
    font-size: 1.5em;
    margin: 30px 10px;
}
.portfolio-filter-menu li a{
    color: var(--gray-dark);
    padding: 0 20px;
}
.portfolio-filter-menu .selected{
    color: var(--black);
    font-weight: 500;
    padding: 0 20px 10px;
    border-bottom: 2px solid var(--black);
}
.portfolio-filter-menu-txt{
    display: none;
}
.portfolio-data{
    display: flex;
    flex-flow: column;
}
.portfolio-data > *{
    flex: 0 1 50%;
}
.portfolio-data > img{
    width: 100%;
    display: none;
}
.portfolio-container{
    display: flex;
    flex-flow: column;
    padding: 50px;
    text-align: center;
}
.portfolio-avatar img{
    margin: 0 auto;
    width: 20%;
}
.portfolio-cta{
    margin: 20px 0;
}
.portfolio-cta .btn-border{
    border: 2px solid var(--black);
    padding: 15px 20px;
    border-radius: 30px;
    color: var(--black);
}

/*footer*/
.footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
}
.footer h4{
    color: var(--white);
    margin: 0 0 15px 0;
}
.f-col-1,
.f-col-2,
.f-col-3{
    display: flex;
    flex-flow: column;
    margin: 30px;
    flex: 0 1 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.f-col-2 p a{
    color: var(--white);
    font-weight: 500;
}
.f-icons{
    display: flex;
}
.f-icons i{
    margin: 0 10px 20px 10px;
}
.f-input{
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--black);    
    padding: 15px 30px;
    border-radius: 20px;
}
.f-btn-border-cta{
    background-color: var(--blue-dark-2);
    text-transform: uppercase;
    color: var(--white);
    padding: 5px 10px;
    margin: 15px 0 0 0;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    font-weight: 500;
}


/* powered by */
.section-powered-by{
    background-color: #000;
    color: var(--white);
    display: inline-block;
    width: 100%;
    padding: 10px 0 30px;
    text-align: center;
}

.section-powered-by a{
    color: var(--white);
    font-weight: 500;
}
.section-powered-by a:active,
.section-powered-by a:hover{
    color: var(--gray-light);
}

.txt-small{
    font-size: smaller;
}



@media (min-width: 768px) {

    .logo-container{
        justify-content: center;
    }
    .nav{
        position: fixed;
        height: 10%;
        max-height: 10%;
        top: 0;
        
        background-image: none;
    }
    .check-side-menu:checked ~ nav{
        height: 10%;
    }
    .menu{
        display: flex;
    }
    .menu > li{
        margin: auto 10px;
        font-size: small;
    }
    .menu > li:last-of-type{
        margin-left: auto;
    }
    .btn-border{
        padding: 10px 40px;
        margin: 0 10px;
    }

    .hamb{
        display: none;
    }

    .header-content h1{
        font-size: 4em;
        padding: 0 0 10px 0;
    }
    .header-cta{
        flex-flow: row;
        justify-content: center;
    }
    .cta-btn-border-1{
        padding: 5px 50px;
        margin: 25px 10px 10px;
    }
    .cta-btn-border-2{
        padding: 5px 50px;
        margin: 25px 10px 10px;
    }

    /* section services*/
    .s-services{
        margin: 40px 20px;
        text-align: center;
    }
    .services-container{
        display: flex;
        flex-flow: row wrap;
        margin: 30px 0;
    }
    .services-container > *{
        flex: 0 1 25%;
    }
    .services-img{
        flex: 0 1 30%
    }
    .services-img img{
        width: 100%;
    }
    .services-partes-container{
        flex: 0 1 70%;
        display: flex;
        flex-flow: wrap;
    }
    .services-partes-container > *{
        flex: 0 1 27%
    }

    /* Equipo */
    .equipo-container{
        margin: 30px;
        margin: 100px;
    }
    .equipo-avatar img{
        width: 10%;
    }

    /* Portfolio */
    .portfolio-data{
        display: flex;
        flex-flow: row;
    }
    .portfolio-data > img{
        display: block;
    }
    .portfolio-filter-menu li{
        font-size: 1em;
        margin: 30px 40px;
    }
    .portfolio-filter-menu-txt{
        display: inline-block;
        margin: 0 0 0 10px;
    }
    .portfolio-container{
        text-align: left;
        padding: 50px 100px 0 40px;
    }
    .portfolio-avatar img{
        margin: 0;
        width: 10%;
    }
    

    /* footer */
    .footer{
        display: flex;
        flex-flow: row;
        justify-content: start;
    }
    .f-col-1,
    .f-col-2,
    .f-col-3{
        text-align: left;
        justify-content: start;
        align-items: start;
    }
}